<style>

    .sidenav {
        width: 130px;
        position: fixed;
        z-index: 1;
        top: 20px;
        left: 10px;
        background: #eee;
        overflow-x: hidden;
        padding: 8px 0;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #2196F3;
        display: block;
    }

    .sidenav a:hover {
        color: #064579;
    }

    .main {
        margin-left: 140px; /* Same width as the sidebar + left position in px */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }



</style>



<b style="font-size: 25px; color: #4286f4">

    <p face="Comic sans MS">
        Exemple
    </p>
</b>

<div class="sidenav">
    <a href="#descriere">Descriere bullying</a>
    <a href="#indicii">Indicii</a>
    <a href="#exemple">ExempleConflict</a>
    <a href="#povesti">Povesti</a>
</div>





<div id="povesti">
<div class="dotborder">
    <h3 style="font-size: 30px; color: blueviolet">
        Alina şi prietena ei,Flavia, au găsit pe stradă o bancnotă de 10 lei. Alina pretinde că ea este cea care a văzut-o prima, prin urmare, banii rămân la ea. Flavia, la rândul ei, spune că ea i-a atras atenţia Alinei că sunt nişte bani pe jos, deci, ea trebuie să-i ia. Flavia şi Alina ajung să se certe în legătură cu cine ia banii şi să se jignească.
        Este CONFLICT pentru că:
    </h3>
    <ul style="font-size: 30px; color:seagreen">
        <li>  cele 2 fete nu pot să cadă de acord cu privire la cine va lua banii </li>
        <li>situaţia este întâmplătoare, nici una dintre fete nu a planificat cearta </li>
        <li>putere egală pentru că sunt prietene </li>
        <li>	atât Alina cât şi Flavia sunt supărate  </li>
    </ul>


</div>


    <a [routerLink]='["/home"]'>
        <img src="assets/sageata.png" />
    </a>

</div>
