<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Spring Boot WebSocket Chat Application | CalliCoder</title>
    <link rel="stylesheet" href="/resources/css/main.css" />
    <link rel="stylesheet" href="/resources/css/all.css" />

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home.html}" th:text="#{label.pages.home.title}">home</a>
        </div>
        <div class="navbar-header" sec:authorize="hasAuthority('WRITE_PRIVILEGE')" th:text="#{label.pages.admin.message}">admin</div>
        <div class="navbar-header" sec:authorize="hasAuthority('CHILD_PRIVILEGE')" th:text="#{label.pages.user.message}">child</div>
        <div class="navbar-header" sec:authorize="hasAuthority('THERAPIST_PRIVILEGE')" th:text="#{label.pages.therapist.message}">therapist
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/logout}"
                   th:text="#{label.pages.logout}+' '+${#authentication.getPrincipal().getFirstName()}">logout</a></li>

        </ul>
    </div>
</nav>

<div id="username-page">
    <div class="username-page-container">
<!--        <h1 class="title">Type your username</h1>-->
        <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <input type="text" id="name" th:value="${#authentication.getPrincipal().getFirstName()}"
                       autocomplete="off" class="form-control" disabled />
            </div>
            <div class="form-group">
                <button type="submit" class="accent username-submit">Start
                    Chatting</button>
            </div>
        </form>
    </div>
</div>

<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
            <h2>JavaTechie Global Chat Box</h2>
        </div>
        <div class="connecting">Connecting...</div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..."
                           autocomplete="off" class="form-control" />
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/resources/js/main.js"></script>
</body>
</html>
