<style>
    p {

       font-family: "Comic sans MS", Times, serif;
        font-size: 30px;
    }





</style>



<body background="blue">
<b style="font-size: 25px; color: #4286f4">

    <b face="Comic sans MS">
        Care este diferenţa dintre bullying şi conflict?

        <p>
            Între colegi sau prieteni au loc frecvent neînţelegeri sau conflicte.
            Doi colegi se pot certa şi se pot jigni, porecli sau chiar lovi unul pe celălalt
            sau pot să rupă prietenia dintre ei.
            Deşi conflictele sunt foarte neplăcute, ele sunt fireşti.
            Însă nu orice neînţelegere sau conflict dintre doi colegi înseamnă bullying.
            Bullying-ul este diferit de conflict!
            <br />
            <br>
            Mai jos ai câteva indicii care te ajută să stabileşti dacă o situaţie este bullying
            sau un simplu conflict ori neînţelegere.
        </p>
    </b>
</b>


<table border="5" bordercolor="green">
    <caption>Diferenta dintre conflict si bullying</caption>
    <thead>

    <tr bgcolor="#27d2db">
        <th scope="col" style="font-size: 25px; color: #4f41f4" border="10" >
            CONFLICT
        </th>
        <th scope="col" style="font-size: 25px; color: #f44174">BULLYING</th>
    </tr>
    </thead>
    <tbody >
    <tr bgcolor="#27d2db">
        <td  style="font-size: 25px; color: #4f41f4" border="10">
            <p>

                <b face="Comic sans MS">
                    Cele 2 părţi au o neînţelegere venită din păreri sau dorinţe diferite,
                    pe care încearcă să le împace/să le pună în acord
                </b>

            </p>
        </td>

        <td style="font-size: 25px; color: #f44174">
            <p>
                <b face="Comic sans MS">
                    Agresorul doreşte să îşi impună controlul/superioritatea asupra victimei,
                    fără a avea ceva de împărţit sau păreri diferite
                </b>
            </p>
        </td>

    </tr>

    <tr bgcolor="#27d2db">

        <td  style="font-size: 25px; color: #4f41f4">
            <p>
                <b face="Comic sans MS">
                    Este accidental, întâmplător
                </b>
            </p>
        </td>

        <td style="font-size: 25px; color: #f44174">
            <p>
                <b face="Comic sans MS">
                    Este intenţionat, planificat
                </b>
            </p>
        </td>

    </tr>

    <tr bgcolor="#27d2db">
        <td style="font-size: 25px; color: #4f41f4">

            <p>
                <b face="Comic sans MS">
                    Ocazional, rar
                </b>
            </p>

        </td>
        <td  style="font-size: 25px; color: #f44174">
            <p>
                <b face="Comic sans MS">
                    Repetat sau foarte probabil să se repete
                </b>
            </p>


        </td>

    </tr>


    <tr bgcolor="#27d2db">
        <td  style="font-size: 25px; color: #4f41f4">
            <p>
                <b face="Comic sans MS">
                    Putere egală între cei implicaţi, pot fi chiar prieteni
                </b>
            </p>

        </td>
        <td  style="font-size: 25px; color: #f44174">

            <p>
                <b face="Comic sans MS">
                    Dezechilibru de putere (mai puternic, mai mare, cu mai mulţi prieteni)
                </b>
            </p>
        </td>

    </tr>


    <tr bgcolor="#27d2db">
        <td  style="font-size: 25px; color: #4f41f4">
            <p>
                <b face="Comic sans MS">
                    Ambele părţi implicate sunt supărate, furioase
                </b>
            </p>


        </td>
        <td style="font-size: 25px; color: #f44174">
            <p>
                <b face="Comic sans MS">
                    Doar ţinta bullying-ului este supărată; agresorul poate chiar să se simtă bine
                </b>
            </p>

        </td>

    </tr>


    <tr bgcolor="#27d2db">
        <td style="font-size: 25px; color: #4f41f4">
            <p>
                <b face="Comic sans MS">
                    Cei implicaţi fac eforturi să rezolve conflictul
                </b>
            </p>
        </td>

        <td style="font-size: 25px; color: #f44174">
            <p>
                <b face="Comic sans MS">
                    Agresorul nu face nici un efort să rezolve problema; consideră că nu există o problemă
                </b>
            </p>

        </td>

    </tr>

    <tr bgcolor="#27d2db">
        <td style="font-size: 25px; color: #4f41f4">
            <p>
                <b face="Comic sans MS">
                    Remuşcare/regret – ambele părţi se consideră responsabile pentru ceea ce s-a întâmplat
                </b>
            </p>

        </td>

        <td style="font-size: 25px; color: #f44174">
            <p>
                <b face="Comic sans MS">
                    Agresorului nu îi pasă – învinovăţeşte victima
                </b>
            </p>

        </td>

    </tr>
    </tbody>
</table>
</body>









<a [routerLink]='["/home"]'>
    <img src="assets/sageata.png" />
</a>


