<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<title th:text="#{label.pages.home.title}">home</title>
</head>
<body>
    <div class="center">
            <h1 class="alert alert-danger" th:text="#{message.email.config.error}">error</h1>          
    </div>
</body>

</html>
