<html xmlns:th="http://www.w3.org/2005/Atom" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/resources/css/all.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <title th:text="#{label.pages.home.title}">home</title>
    <style>
        .enabledModule {
            color: #4542f4;
        }

        .disabledModule {
            color: currentColor;
            cursor: not-allowed;
            opacity: 0.5;
            text-decoration: none;
            pointer-events: none;
        }

        .navbar navbar-default {

            background: #0e90d2;

        }

        .module {
            display: inline-block;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home.html}" th:text="#{label.pages.home.title}">home</a>
        </div>
        <div class="navbar-header" sec:authorize="hasAuthority('WRITE_PRIVILEGE')" th:text="#{label.pages.admin.message}">admin</div>
        <div class="navbar-header" sec:authorize="hasAuthority('CHILD_PRIVILEGE')" th:text="#{label.pages.user.message}">child</div>
        <div class="navbar-header" sec:authorize="hasAuthority('THERAPIST_PRIVILEGE')" th:text="#{label.pages.therapist.message}">therapist</div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/logout}"
                   th:text="#{label.pages.logout}+' '+${#authentication.getPrincipal().getFirstName()}">logout</a></li>

        </ul>
    </div>
</nav>

<div class="center">
    <div th:fragment="workProgress" th:unless="${#lists.isEmpty(workProgress)}">
        <div class="module" th:each="step : ${workProgress}">
            <img th:class='${step.stepClass}' th:src="@{${'/resources/stepImage' + step.stepId + '.jpg'}}" style="height: 70%">
            <a th:class='${step.stepClass}' th:href="@{/getTextExercises}+'/'+${step.stepId}"
               th:text="'Modul ' + ${step.stepId}+' : '+${step.stepName}">
            </a>
        </div>
    </div>


    <div>
        <p th:if="${param.user} != null" th:text="${param.user[0]}">user</p>
        <br/>
        <div sec:authorize="hasAuthority('WRITE_PRIVILEGE')">
            <a class="btn btn-primary" th:href="@{/admin.html}" th:text="#{label.pages.admin}">admin</a>
            <a style="color: black" th:href="@{/loggedUsers}" th:text="#{label.pages.users.message}">View logged in
                users</a>
        </div>
        <br/>
        <div sec:authorize="hasAuthority('THERAPIST_PRIVILEGE')">
            <a style="color: black" th:href="@{/showRegistrationUsers}">Create a child</a>
            <a style="color: black" th:href="@{/loggedUsers}" th:text="#{label.pages.users.message}">View logged in
                users</a>
            <a style="color: black" th:href="@{/loggedUsersFromSessionRegistry}"
                th:text="#{label.pages.users.sessionregistry.message}">View logged in users</a>
        </div>

        <br/>
        <!--        <a style="color: black" th:href="@{/loggedUsersFromSessionRegistry}"-->
        <!--           th:text="#{label.pages.users.sessionregistry.message}">View logged in users</a>-->
    </div>

</div>
</body>
</html>
