<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/resources/css/all.css"/>
    <title th:text="#{label.pages.home.title}">home</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home.html}" th:text="#{label.pages.home.title}">home</a>
        </div>
        <div class="navbar-header" sec:authorize="hasAuthority('WRITE_PRIVILEGE')" th:text="#{label.pages.admin.message}">admin</div>
        <div class="navbar-header" sec:authorize="hasAuthority('CHILD_PRIVILEGE')" th:text="#{label.pages.user.message}">child</div>
        <div class="navbar-header" sec:authorize="hasAuthority('THERAPIST_PRIVILEGE')" th:text="#{label.pages.therapist.message}">therapist
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/logout}"
                   th:text="#{label.pages.logout}+' '+${#authentication.getPrincipal().getFirstName()}">logout</a></li>

        </ul>
    </div>
</nav>
<div class="center">
    <h1 th:text="#{label.pages.home.message}">home</h1>
    <ul>
        <li>
            <a th:href="@{/workProgress}">Vezi modulele</a>
        </li>
        <li>
            <a th:href="@{/chatTemplate}"><p>Dialogheaza cu terapeutul</p></a>
        </li>
        <li>
            <a href="/descriereProgram.html">Descriere Platforma Bullying</a>
            <a th:href="@{/showRegistrationUsers}"></a>
        </li>


            <div sec:authorize="hasAuthority('THERAPIST_PRIVILEGE')">
                <li>
                <a style="color: black" th:href="@{/showRegistrationUsers}">Create a child</a>
                </li>
                <li>
                <a style="color: black" th:href="@{/loggedUsers}" th:text="#{label.pages.users.message}">View logged in
                    users</a>
                </li>
                <li>
                <a style="color: black" th:href="@{/loggedUsersFromSessionRegistry}"
                   th:text="#{label.pages.users.sessionregistry.message}">View logged in users</a>
                </li>
            </div>


    </ul>
</div>
</body>

</html>

