<html xmlns:th="http://www.w3.org/2005/Atom">

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<title th:text="#{label.pages.home.title}">home</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/homepage.html}" th:text="#{label.pages.home.title}">home</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a></li>
			</ul>
		</div>
	</nav>
	<div class="center">
		<h2>Currently logged in users</h2>
		<div th:each="user : ${users}">
			<p th:text="${user}">user</p>
		</div>
	</div>
</body>

</html>
